<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
</head>

<body style="background-color: #121212; color: #ffffff; font-family: 'Ubuntu', sans-serif; margin: 0; overflow-x: hidden;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <a class="home-link" href="/" style="color: #d6e2e3; text-decoration: none; font-weight: bold; margin: 10px; font-family: 'Ubuntu', sans-serif; font-size: 20px;">Home</a>
        <h1 style="font-size: 24px; color: #ffffff; margin-top: 0;">Users</h1>
        <p class="access-info" style="margin: 0 20px; font-family: 'Ubuntu', sans-serif;">
            Accesses: <br>
            0: No Access <br>
            1-555: Read Only <br>
            556-998: Read/Write <br>
            999: Admin
        </p>
    </div>
    {{range .Users}}
    <div class="user-card" style="background-color: #1e1e1e; border: 1px solid #333; border-radius: 5px; padding: 20px; margin: 10px; max-width: 300px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: transform 0.2s ease-in-out;">
        <form action="/admin/patch_user" method="post">
            <p style="color: #ccc;">Username: {{.Username}}</p>
            <input type="hidden" id="username" name="username" value="{{.Username}}">
            <p><label for="access" style="color: #ffffff;">Access:</label></p>
            <input type="text" id="access" name="access" value="{{.Access}}" style="background-color: #333; border: 1px solid #555; color: #ffffff; padding: 5px; border-radius: 3px;">
            <button type="submit" style="background-color: #007bff; color: #ffffff; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">Update User</button>
        </form>
    </div>
    {{end}}
    <footer class="github-link" style="background-color: #000000; background-image: linear-gradient(to bottom, #4e4e4e, #000000); padding: 10px; text-align: center; width: 100%; position: absolute; bottom: 0;">
        <a href="https://github.com/fenix1851/go-file-server" style="color: #d6e2e3; text-decoration: none; font-weight: bold; font-family: 'Ubuntu', sans-serif;">GitHub Repository</a>
    </footer>
</body>

</html>
