<!DOCTYPE html>
<html>

<head>
    <title>Directory Listing: {{.FolderName}}</title>
</head>

<body>
    <h1>Directory Listing: {{.FolderName}}</h1>
    <ul>
        {{range .Directories}}
        <li><a class="directory" href="{{.DirectoryPath}}">{{.DirectoryName}}</a></li>
        {{end}}
        {{range .Files}}
        <li><a class="file" href="{{.FilePath}}">{{.FileName}}</a></li>
        {{end}}
    </ul>
</body>
<style>

    .directory {
        color: rgb(0, 0, 0);
        /* change color of link */
    }

    .file {
        color: rgb(65, 65, 65);
    }
</style>

</html>
